TARGET_IP="127.0.0.1" # IP address of your PC running BambuStudio.
PRINTER_IP="192.168.1.10" # IP address of your BambuLab Printer
PRINTER_USN="XXXXXXXXXXXX" # Printer Serial Number
PRINTER_DEV_MODEL="3DPrinter-X1-Carbon" # Set this to your model.
PRINTER_DEV_NAME="MY-PRINTER-NAME" # Set this to the device name
PRINTER_DEV_SIGNAL="-36" # Good Signal (Artificial), WiFi icon in BambuStudio will appear green with full-bars.
PRINTER_DEV_CONNECT="lan" # LAN Mode
PRINTER_DEV_BIND="free" # Not bound to a Cloud user-account.
